{% extends 'base.html' %}

{% block content %}

    {% if form %}
        <form class="input-form" action="{% url 'homepage' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.image}}
            <button type="submit">Upload</button>
        </form>
    {% else %}
            <img src="{{image_url}}" height="70%">
            <form class="input-form" action="detect/?img={{image_url}}" method="post">
                {% csrf_token %}
                <button id="detect-button" type="submit" onclick="loading()">Detect</button>
            </form>
            <button id = "hidden-button">working on it...</button>
    {% endif %}

{% endblock %}

{% block script %}
<script>
    function loading(){
        var elem = document.getElementById("detect-button")
        var elem2 = document.getElementById("hidden-button")
        let count = 0
        dots = ['.', '. .', '. . .']
        setInterval(() => {
            elem2.innerHTML = dots[count]
            // elem2.innerHTML = `working on it..${count}` 
            count = (count + 1) % 3
        }, 1000);
        elem.style.display = "none";
        elem2.style.display = "block";
    }
</script>
{% endblock %}